.history {
    margin: 1em 0;
}

.toggleHistoryButton {
    font-size: 0.75em;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    user-select: none;
}
.toggleHistoryButton:hover {
    background-color: #ddd;
}
.toggleHistoryButton:active {
    background-color: #ccc;
    border-bottom: 1px solid #ccc;
}

.storyNodes {
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 0 1em;
    border-radius: 5px;
}

.storyNode {
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
}

.storyNode:last-child {
    border-bottom: none;
}

.storyNode h2 {
    margin: 0 0 0.2em 0;
    padding: 0;
    font-weight: 700;
    color: #333;
}

.storyNode p {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}

.subtitle {
    font-size: 0.75em;
    color: #999;
}