.storyNode {
    padding: 20px 0;
    margin: 0 0 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.storyNode h1 {
    color: #333;
}

.storyNode h1, .storyNode h2 {
    margin: 0 0 0.2em 0;
    padding: 0;
    font-weight: 700;
}

.storyNode p {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}

.subtitleBar {
    color: #999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subtitle {
    display: inline-block;
}

.backArrow {
    color: #bbb;
    margin-right: 0.2em;
    font-size: 1.2em;
}

.backArrow:hover {
    color: #999;
}